{{> header}}
	<div class="container">
		<h1 class="text-center">Get your free coupon!</h1>
		<form action="/submit" class="d-block mx-auto mt-4" style="max-width: 320px;">
			<div class="form-group">
				<label for="phone">Enter your phone</label>
				<input id="phone" class="form-control" type="text" name="phone">
			</div>
			<button type="submit" class="btn btn-success btn-block">Redeem coupon!</button>
		</form>
	</div>
	{{#extend "scripts"}}
	<script>
		$("#phone").intlTelInput({
			// exclude countries example
			excludeCountries: ['CA', 'UK', 'PA'],
			// Geolocate ip and set country by default
			initialCountry: 'auto',
			geoIpLookup: function(callback) {
		  		$.get("http://freegeoip.net/json/", function() {}, "jsonp").always(function(resp) {
		    		var countryCode = (resp && resp.country_code) ? resp.country_code : "gb";
		    		callback(countryCode);
		  		});
			},
			utilsScript: '/plugins/intl-tel-input/utils.js',
			autoHideDialCode: false,
		});

		$('form').on('submit', function(e) {
			// Prevent default event
			e.preventDefault();
			// Get phone with country code
			var phone = $("#phone").intlTelInput("getNumber");
			// Submit form with ajax
			$.ajax({
		  		url: "test.html",
		  		context: document.body
			}).done(function() {
		  		$( this ).addClass( "done" );
			});
			return false;
		})
	</script>
	{{/extend}}
{{> footer}}